# TEST LOGHS DIFFERENCE TESTS

In [1]:
import pandas as pd

In [35]:
base_path = '/sc-projects/sc-proj-ukb-cvd/results/projects/22_retina_phewas/data/221108'

In [36]:
loghs = pd.read_feather(f'{base_path}/loghs/ImageTraining_[]_ConvNeXt_MLPHead_predictions_cropratio0.66/0/test.feather')
loghs.eid.nunique()

5567

In [37]:
cox_input = pd.read_feather(f'{base_path}/coxph/input/ImageTraining_[]_ConvNeXt_MLPHead_predictions_cropratio0.66/0/test.feather')
cox_input.eid.nunique()

5567

In [38]:
cox_preds = pd.read_feather(f'{base_path}/coxph/predictions/phecode_979_Age+Sex_ImageTraining_[]_ConvNeXt_MLPHead_predictions_cropratio0.66_0.feather')

In [39]:
cox_preds.head()

,eid,endpoint,features,partition,Ft_1,Ft_2,Ft_3,Ft_4,Ft_5,Ft_6,Ft_7,Ft_8,Ft_9,Ft_10,Ft_11,Ft_12,Ft_13,Ft_14,Ft_15
0,1475840,phecode_979,Age+Sex,0,0.000314,0.000773,0.001131,0.001435,0.001725,0.001958,0.002280,0.002663,0.003198,0.003617,0.003979,0.004230,0.004230,0.004230,0.004230
1,1475895,phecode_979,Age+Sex,0,0.000125,0.000306,0.000449,0.000569,0.000684,0.000777,0.000905,0.001057,0.001269,0.001436,0.001580,0.001679,0.001679,0.001679,0.001679
2,1475910,phecode_979,Age+Sex,0,0.000123,0.000303,0.000443,0.000562,0.000675,0.000767,0.000893,0.001044,0.001253,0.001417,0.001559,0.001658,0.001658,0.001658,0.001658
3,1475935,phecode_979,Age+Sex,0,0.000133,0.000327,0.000478,0.000607,0.000729,0.000828,0.000964,0.001127,0.001353,0.001530,0.001684,0.001790,0.001790,0.001790,0.001790
4,1476077,phecode_979,Age+Sex,0,0.000299,0.000734,0.001074,0.001363,0.001639,0.001860,0.002166,0.002531,0.003039,0.003437,0.003781,0.004020,0.004020,0.004020,0.004020

In [40]:
len(set(loghs.eid.values.tolist()).intersection(set(cox_preds.eid.values.tolist())))

5556

In [41]:
eligable_eids = pd.read_feather("/sc-projects/sc-proj-ukb-cvd/results/projects/22_retina_phewas/data/eligable_eids_220824.feather")
eids_dict = eligable_eids.set_index("endpoint")["eid_list"].to_dict()

In [42]:
len(set(loghs.eid.values.tolist()).intersection(eids_dict['phecode_979'].tolist()))

5556

In [43]:
n_eids = {}

for partition in range(0, 22):
    preds = pd.read_feather(f'{base_path}/coxph/predictions'\
                            f'/phecode_979_Age+Sex_ImageTraining_[]_ConvNeXt_MLPHead_predictions_cropratio0.66_{partition}.feather')
    n_eids[partition] = preds.eid.nunique()

In [44]:
n_eids = pd.Series(n_eids)

In [45]:
n_eids.sum()

61159

In [46]:
loghs_train = pd.read_feather(f'{base_path}/loghs/ImageTraining_[]_ConvNeXt_MLPHead_predictions_cropratio0.66/0/train.feather')
loghs_valid = pd.read_feather(f'{base_path}/loghs/ImageTraining_[]_ConvNeXt_MLPHead_predictions_cropratio0.66/0/valid.feather')

test = len(set(loghs.eid.unique().tolist()).intersection(eids_dict['phecode_979'].tolist()))
train = len(set(loghs_train.eid.unique().tolist()).intersection(eids_dict['phecode_979'].tolist()))
valid = len(set(loghs_valid.eid.unique().tolist()).intersection(eids_dict['phecode_979'].tolist()))

test+train+valid

61159

# ENDPOINT DEFINITION CARDIO

In [47]:
endpoints_cardio = [
    'phecode_431-11', #  "Cerebral infarction [Ischemic stroke]",
    'phecode_404', #  "Ischemic heart disease",
    'phecode_404-1', #  "Myocardial infarction [Heart attack]", # intervention
    'phecode_424', #  "Heart failure", # intervention
     'OMOP_4306655', #  "All-Cause Death", # intervention
    'phecode_420' #  "Cardiac arrest", # intervention  
]

In [48]:
all_endpoints = sorted([l.replace('_prevalent', '') for l in list(pd.read_csv('/sc-projects/sc-proj-ukb-cvd/results/projects/22_retinal_risk/data/220602/endpoints.csv').endpoint.values)])

In [53]:
endpoints = sorted(list(set(endpoints_cardio).intersection(all_endpoints)))

In [54]:
endpoints

['OMOP_4306655',
 'phecode_404',
 'phecode_404-1',
 'phecode_420',
 'phecode_424',
 'phecode_431-11']

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('3_MedicalHistory_Tables - ST5 - Discriminative Performance.csv')
df.head()

,Category,Code,Name,Age+Sex,Age+Sex+MedicalHistory,Difference
0,Death,OMOP_4306655,All-Cause Death,"0.701 (0.699, 0.703)","0.878 (0.877, 0.88)","0.177 (0.175, 0.179)"
1,ID,phecode_001,Salmonella,"0.493 (0.469, 0.518)","0.676 (0.653, 0.7)","0.183 (0.152, 0.217)"
2,ID,phecode_002,Staphylococcus,"0.612 (0.606, 0.617)","0.728 (0.722, 0.734)","0.116 (0.11, 0.123)"
3,ID,phecode_002-1,Staphylococcus aureus,"0.607 (0.6, 0.613)","0.732 (0.725, 0.739)","0.125 (0.118, 0.133)"
4,ID,phecode_003,Escherichia coli,"0.602 (0.597, 0.607)","0.675 (0.67, 0.68)","0.073 (0.068, 0.078)"

In [9]:
l = 30
test = 'Hi ich bin thore der coolste pr0grammierer der Erde weil ich bin fit wie ein Turnschuh'

In [23]:
def introduce_linebreak(s, maxchars=30):
    chunks = []
    
    s = str(s)
    
    curr = 0
    for split in s.split(' '):
        if not chunks:
            chunks = [split]
        elif len(chunks[curr] + split)+1 <= maxchars:
            chunks[curr] = ' '.join([chunks[curr], split])
        else:
            chunks.append(split)
            curr += 1
    
    return '$'.join(chunks)

In [24]:
introduce_linebreak(test, 35)

'Hi ich bin thore der coolste$pr0grammierer der Erde weil ich bin$fit wie ein Turnschuh'

In [25]:
names = [introduce_linebreak(n, 30) for n in df['Name'].values.tolist()]

In [26]:
df['Names_edited'] = names

In [28]:
df.set_index('Category').to_csv('Discriminative Performance.csv')

# MATCH ENDPOINTS

In [61]:
ret = pd.read_csv('/home/buergelt/projects/cardiors/code/22_retina_phewas_evaluation/tmp/3_Retina_Endpoints.csv')

In [22]:
ehr = pd.read_csv('/home/buergelt/projects/cardiors/code/22_retina_phewas_evaluation/tmp/3_MedicalHistory_Endpoints.csv')
ehr.head()

,System,Code,phecode_string,eligable,n,freq,ICD10 Definition
0,OMOP,4306655.0,All-Cause Death,502453,37697,7.50%,NaN
1,Phecode,1.0,Salmonella,500882,377,0.08%,"A01, A01.0, A01.00, A01.01, A01.02, A01.03, A0..."
2,Phecode,2.0,Staphylococcus,499671,6587,1.32%,"A05.0, A41.0, A41.01, A41.02, A41.1, A41.2, A4..."
3,Phecode,2.1,Staphylococcus aureus,500332,4909,0.98%,"A41.0, A41.01, A41.02, A49.01, A49.02, B95.6, ..."
4,Phecode,3.0,Escherichia coli,499141,9687,1.94%,"A04.0, A04.1, A04.2, A04.3, A04.4, A41.51, B96..."

In [23]:

cols = pd.read_csv('/home/buergelt/projects/cardiors/code/22_retina_phewas_evaluation/tmp/cols.csv')
cols.head()

,Category,Code,Name,Age+Sex,Age+Sex+MedicalHistory,Difference
0,Death,OMOP_4306655,All-Cause Death,"0.701 (0.699, 0.703)","0.878 (0.877, 0.88)","0.177 (0.175, 0.179)"
1,ID,phecode_001,Salmonella,"0.493 (0.469, 0.518)","0.676 (0.653, 0.7)","0.183 (0.152, 0.217)"
2,ID,phecode_002,Staphylococcus,"0.612 (0.606, 0.617)","0.728 (0.722, 0.734)","0.116 (0.11, 0.123)"
3,ID,phecode_002-1,Staphylococcus aureus,"0.607 (0.6, 0.613)","0.732 (0.725, 0.739)","0.125 (0.118, 0.133)"
4,ID,phecode_003,Escherichia coli,"0.602 (0.597, 0.607)","0.675 (0.67, 0.68)","0.073 (0.068, 0.078)"

In [47]:
ret.columns

Index(['endpoint', 'eligable', 'n', 'freq', 'phecode', 'phecode_string',
       'phecode_category', 'sex'],
      dtype='object')

In [ ]:
ret['freq'] = ret.freq.round(decimals=4) * 100

In [62]:
ret['freq'] = ret['freq']*100
ret['freq'] = ret['freq'].apply(lambda x: f'{x:.2f}%')

In [86]:
ret['n'] = ret['n'].astype(int).astype(str)
ret['eligable'] = ret['eligable'].astype(int).astype(str)

In [87]:
ret.head()

,endpoint,eligable,n,freq,phecode,phecode_string,phecode_category,sex
0,OMOP_4306655,61256,3490,5.70%,4306655.0,All-Cause Death,Death,Both
1,phecode_002,60945,658,1.08%,2.0,Staphylococcus,ID,Both
2,phecode_002-1,61010,486,0.80%,2.1,Staphylococcus aureus,ID,Both
3,phecode_003,60757,959,1.58%,3.0,Escherichia coli,ID,Both
4,phecode_004,60584,494,0.82%,4.0,Streptococcus,ID,Both

In [88]:
ehr['endpoint'] = cols['Code']
ehr['Category'] = cols['Category']

In [89]:
x = ehr[['endpoint','Category', 'phecode_string', 'eligable', 'n', 'freq', ]]

In [90]:
x = x.rename({'eligable': 'Number eligable (EHR)',
              'n': 'Number of observations (EHR)',
              'freq': 'Endpoint frequency (EHR)'
              }, axis=1)

In [91]:
y = ret[['endpoint', 'eligable', 'n', 'freq']].rename(
    {'eligable': 'Number eligable (Retina)',
              'n': 'Number of observations (Retina)',
              'freq': 'Endpoint frequency (Retina)'
              }, axis=1
)

In [92]:
x.head()

,endpoint,Category,phecode_string,Number eligable (EHR),Number of observations (EHR),Endpoint frequency (EHR)
0,OMOP_4306655,Death,All-Cause Death,502453,37697,7.50%
1,phecode_001,ID,Salmonella,500882,377,0.08%
2,phecode_002,ID,Staphylococcus,499671,6587,1.32%
3,phecode_002-1,ID,Staphylococcus aureus,500332,4909,0.98%
4,phecode_003,ID,Escherichia coli,499141,9687,1.94%

In [93]:
z = pd.merge(x, y, on='endpoint', how='outer')
z.head()

,endpoint,Category,phecode_string,Number eligable (EHR),Number of observations (EHR),Endpoint frequency (EHR),Number eligable (Retina),Number of observations (Retina),Endpoint frequency (Retina)
0,OMOP_4306655,Death,All-Cause Death,502453,37697,7.50%,61256,3490,5.70%
1,phecode_001,ID,Salmonella,500882,377,0.08%,NaN,NaN,NaN
2,phecode_002,ID,Staphylococcus,499671,6587,1.32%,60945,658,1.08%
3,phecode_002-1,ID,Staphylococcus aureus,500332,4909,0.98%,61010,486,0.80%
4,phecode_003,ID,Escherichia coli,499141,9687,1.94%,60757,959,1.58%

In [94]:
z.to_csv('/home/buergelt/projects/cardiors/code/22_retina_phewas_evaluation/tmp/endpoints.csv')